.scrolling-box {
  overflow: hidden;
  height: 400px; /* Adjust the height as needed */
  position: relative;
}

#links-list {
  position: absolute;
  width: 100%;
}

.scrolling-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.scrolling-box li {
  padding: 10px;
  box-sizing: border-box;
}
